body {
    font-family: Arial, sans-serif;
    background-color: #dfd0c2;
    overflow: hidden;
}

.search-section {
    text-align: center;
    margin: 20px;
}

.search-note {
    padding: 10px;
    width: 30%;
    margin-right: 10px;
    border-radius: 5px;
    border: 3px solid #9b8e8e;
}

.search-btn {
    padding: 10px;
    background-color: #9b8e8e;
    color: white;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #1f010162;
}

.note-content {
    width: 70%;
    margin: 30px auto;
    background-color: rgb(182, 164, 164);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.note-container {
    margin-bottom: 30px;
}

.note-input {
    width: 95%;
    height: 160px;
    padding: 10px;
    border: 4px solid #574848a2;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    resize: none;
}

.save-note-btn,
.clear-note-btn {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    border: none;
}

.save-note-btn {
    background-color: #947466;
    color: white;
}

.save-note-btn:hover {
    background-color: #02cf2f;
}

.clear-note-btn {
    background-color: #947466;
    color: white;
}

.clear-note-btn:hover {
    background-color: #b60315;
}

.saved-notes-list {
    list-style-type: none;
    padding: 10px;
    background-color: #f8f8f8; 
    border-radius: 8px;
    width: 95%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#note-list li {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.delete-note-btn {
    background-color: #b60315;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-note-btn:hover {
    background-color: #94040f;
}

button{
    color:white;
    background-color: rgb(54, 45, 45);
    border-radius: 5px;
    border: 2px transparent;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
button:hover{
    background-color: #9b8e8e;
}
.back-button {
    position: absolute; 
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #cccccc;
    color: rgb(92, 52, 52);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #412114;
    color: antiquewhite;
}
